body{
	margin: auto 0;
	font-family: Arial;
}



/*NAVBAR*/

.sticky{
	position: fixed;  
	top:0;
	width: 100%;
}

.nav{
	display: flex;
	list-style: none;
	margin: 0;

	
}

li{
	padding: 20px;
	color: white;
	font-size: 1em;
	cursor: pointer;
}

.right{
	margin-left: auto;
	padding-right: 4rem;

}

/*COVER*/


.container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
}

.cover{
	width: 20rem;
}


/*PROJECT GRID*/


.grid-wrapper  {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(350px,1fr));

}

.box >  img{
   width: 100%;

}


.box{

	background-color: #444;
	padding: 130px;
	margin: 20px;
}

.box:hover{
	transform: rotate(-7deg);

}


/*FOOTER*/

footer{
	text-align: center;
}


/*PRETTY*/
























.green{
	background-color: blue;
}

.red{
	background-color: white;
}

.blue{
	background-color: lightblue;
}

.yellow{
	background-color: yellow;
}